body#index {
	background-image: url('../imagenes/fondo.jpg');
	/*background-repeat: no-repeat;*/
	background-size: 100% auto;
}

section {
	height: 100vh;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
flex: 1 0 auto;
}


#card-login, #card-login .card-content{
	/*display: none;*/
	border-radius: 15px !important;
}
#card-login .card-action {

	border-radius: 0 0 15px 15px !important;
}

@media screen and (min-width: 1000px){
	nav > .nav-wrapper > .container, .card .container {
		width: 80%;
	}
}

.container-fluid {
	width: 85%;
}

td p {
	margin: 0;
}
td button {
	height: 30px !important;
	line-height: 1 !important;
	font-size: 14px !important;
}
td input {
	margin-bottom: 0 !important;
	height: 30px !important;
}

.btnAutorizacion {
	padding: 0 5px 0 5px;
}


/*================ modificacion de materialize ===========*/
.input-field label {
	font-size: 16px;
}
.input-field input{
	/*font-size: 20px;*/
	padding-left: 5px;
}

.input-field input:focus {
 	border-bottom: 1px solid #0097a7  !important;
 	box-shadow: 0 1px 0 0 #0097a7  !important;
}
.input-field label.active {
 	color: #0097a7  !important;
}

[type="checkbox"]:checked:disabled + label:before {
	border-right: 2px solid purple;
    border-bottom: 2px solid purple;
}

/*================ estolos para targeton electoral ===========*/

.panel-candidato {
	overflow: hidden;
	line-height: 1.3;
	/*padding: 10px;*/
	transition: background-color 1s;
	transition: color 1.5s;
}

/*.panel-candidato:hover {
	background-color: rgba(0,0,0,.1) !important;
}*/
.card.horizontal .card-image {
	width: 40%;
}
.candidato-numero{
	font-size: 30px;
	font-weight: 600;
}
.candidato-nombre {
	font-size: 18px;
}
.candidato-tipo {
	font-size: 18px;
}

button#votar {
	border-radius: 50px;
	transition: color 2s;
}
button#votar:hover {
	background-color: #26c6da !important;
	color: black !important;
}
